<div class="p-5 mb-4 mt-4 rounded-3" id="jumbotron">
      <div class="container-fluid py-5">
        <h2 class="display-6 fw-bold">Etsydemo is the best way to find and sell products</h2>
        <p class="col-md-9 fs-4">Explore the variety of products, buy and sell. Find out what interesting products your neighbours are selling.</p>
        <a href="/listings/new" class="btn btn-primary btn-lg" type="button">Add listing</a>
      </div>
    </div>

<h1>Listings</h1>
<div class="center">
<div class=“row”>
  <% @listings.each do |listing| %>
    <div class=“col-md-3”>
      <div class=“thumbnail”>
        <%= link_to image_tag(listing.image.url), listing %>
          <div class=“caption”>
          <h3><%= listing.name %> </h3>
          <p><%= number_to_currency(listing.price) %> </p>
          <p> <%= "Sold by: #{listing.user.name}"%> </p>
        <% if (user_signed_in?) && (current_user == listing.user) %>
          <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
          <%= link_to 'Destroy', listing, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-link" %>
        <% end %>  
</div>
</div>
</div>
<% end %>
</div>
</div>

<br>
<% if user_signed_in? %>
  <%= link_to "New listing", new_listing_path %>
<% end %>